h1 {
  display: block;
  font-weight: 700px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 30px;
  color: #155967;
  line-height: 26px;
  top: 20px;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  display: block;
}
ul .Other-properties {
  position: fixed;
}

li {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #79a2aa;
  font-size: 15px;
  font-weight: 100;
  height: 20px;
  list-style: none;
  line-height: 5;
  left: 20px;
}
li::first-letter {
  text-transform: capitalize;
}

.WeatherApp {
  position: relative;
  max-width: 500px;
  padding: 12px;
  margin: 10px auto;
  background-color: #e0eff3;
  border: #155967 solid 1px;
  border-radius: 20px;
}

.Sun-icon {
  height: 70px;
  width: 70px;
  position: relative;
  top: -20px;
  right: -10px;
}
.Other-properties {
  position: relative;
  right: -80px;
}
.search-weather {
  display: inline-block;
  max-width: 400px;
  margin-bottom: 20px;
  margin-top: 10px;
  left: 200px;
}
.weather-temperature {
  display: block;
  left: -10px;
}
.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 50px;
  line-height: 3;
  font-weight: 600;
}
.weather-temperature small {
  color: rgb(33, 33, 33);
  font-size: 30px;
  line-height: 3;
  font-weight: 600;
  opacity: 0.3;
  left: -10px;
}
.weather-temperature .units {
  position: relative;
  font-size: 15px;
  top: -30px;
  font-weight: 600;
  text-decoration: none;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
.weather-temperature .degreesNight {
  display: inline-block;
  margin: 0px 10px auto;
}

i {
  color: #155967;
}
.col-2 {
  font-weight: 800;
  display: block;
  text-align: center;
  font-size: 15px;
  line-height: 1;
  top: 20px;
}
.DayTemperature {
  color: #155967;
}
.NightTemperature {
  opacity: 0.5;
}
.five-Days-forecast {
  position: relative;
  left: 40px;
}
.gitHub-link {
  display: block;
  text-align: center;
  font-size: 12px;
  font-family: "Courier New", Courier, monospace;
  opacity: 0.9;
  max-width: 500px;
  margin: 0 auto;
}
