body {
  background-color: #d6e2e4;
}

.WeatherApp {
  position: relative;
  max-width: 600px;
  padding: 12px;
  margin: 10px auto;
  background-color: #c4f0ff;
  border: #155967 solid 1px;
  border-radius: 20px;
}
h1 {
  display: block;
  text-align: left;
  font-weight: 700px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 30px;
  color: #155967;
  line-height: 26px;
  top: 20px;
  margin: 0 auto;
  left: -20px;
}
ul {
  margin: 0;
  padding: 0;
  display: block;
  left: -20px;
}
ul .Other-properties {
  display: block;
  text-align: right;
}
.Other-properties .li {
  padding: 0;
  display: block;
  text-align: right;
  right: -20px;
}

li {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #79a2aa;
  font-size: 15px;
  font-weight: 100;
  height: 20px;
  list-style: none;
  line-height: 5;
  left: 20px;
}
li:first-letter {
  text-transform: capitalize;
}

.Sun-icon {
  height: 100px;
  width: 100px;
  position: relative;
  top: -20px;
  right: -10px;
  animation-duration: 2s;
  opacity: 0.6;
}

.search-weather {
  display: inline-block;
  max-width: 400px;
  margin-bottom: 20px;
  margin-top: 10px;
  left: 200px;
}
.col-3 btn btn-warning w-100 {
  display: block;
  position: relative;
  right: 30px;
}
.weather-temperature {
  display: block;
  left: -10px;
}
.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 50px;
  line-height: 3;
  font-weight: 600;
}
.weather-temperature small {
  color: rgb(33, 33, 33);
  font-size: 30px;
  line-height: 3;
  font-weight: 600;
  opacity: 0.3;
  left: -10px;
}
.weather-temperature .units {
  position: relative;
  font-size: 15px;
  top: -30px;
  font-weight: 600;
  text-decoration: none;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
.weather-temperature .degreesNight {
  display: inline-block;
  margin: 0px 10px auto;
}

.five-Days-forecast {
  margin-top: 10px;
  font-weight: 800;
  display: block;
  text-align: center;
  color: #155967;
  left: -10px;
  padding: 0 auto;
  line-height: 1;
}
.five-Days-forecast-date {
  font-size: 18px;
  display: block;
  text-align: center;
  opacity: 0.8;
}
.five-Days-forecast-temperatures {
  font-size: 16px;
}
.Forecast-night-temperature-min {
  opacity: 0.5;
  font-size: 14px;
}

.gitHub-link {
  display: block;
  text-align: center;
  font-size: 12px;
  font-family: "Courier New", Courier, monospace;
  opacity: 0.9;
  max-width: 500px;
  margin: 20px auto;
}
